#忽略.iml结尾文件
*.iml
/.idea
/rz-remoting/.idea/
/rz-remoting/target/
/rz-remoting/*.iml

/rzrpc-client/.idea/
/rzrpc-client/target/
/rzrpc-client/*.iml

/rzrpc-comm/target/
/rzrpc-comm/.idea/
/rzrpc-comm/*.iml

/rzrpc-core/target/
/rzrpc-core/.idea/
/rzrpc-core/*.iml

/rzrpc-facade/target/
/rzrpc-facade/.idea/
/rzrpc-facade/*.iml

/rzrpc-server/target/
/rzrpc-server/.idea/
/rzrpc-server/*.iml

/service-access-center/target/
/service-access-center/.idea/
/service-access-center/*.iml






